<!--Set our header to display page to user and give them back button-->
<ion-header [translucent]="true">
  <ion-toolbar  color="primary"> 
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>My Modules</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Modules </ion-title>
    </ion-toolbar>
  </ion-header>

    <!--If the user is logged in we want to display to them the modules -->
    <ion-content [fullscreen]="true" *ngIf="userLoggedIn">

      <!--We want to iterate over the modules this user has and display them to the user-->
      <ion-list>
       <ion-item *ngFor="let module of modules" >

      <!--If they click on a module topic , send them via router link to module-topcis sending the module id as a string-->
      <ion-label [routerLink]="['/','module-topics',module.id.toString()]" >  {{module.name}}    </ion-label>

      <!--Give them 2 buttons to click , option to delete and update a module , both take a module as paramater-->
      <ion-icon (click)="updateModule(module)"slot="end" size="s" style="margin-right: 5%;" name="pencil"></ion-icon>
      <ion-icon   (click)="deleteModule(module)"slot="end" size="medium" style="margin-right: 5%;" name="trash"></ion-icon>
    </ion-item>
  </ion-list>


  <!--We also want to give them the option to add a module -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addModule()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
 
</ion-content>



<!--ELSE - if the user is logged outwe want to let them know they need to sign in or register to view and add modules-->
<ion-content>
  <ion-card>
    <!--Show them a little header to let them know they are logged out-->
    <ion-card-header class=".ion-text-center">
      <ion-card-title style="text-align:center" >Ooops! You're Logged Out! </ion-card-title>
    </ion-card-header>
  
    <!--Display a piece of UI with 2 buttons to direct them to login or register -->
    <ion-card-content style="text-align:center">
      <img src="./assets/loggedout.png">
      You will need to login or register in order to use these great features! , Dont panic it only takes a second  <br>
      <ion-button [routerLink]="['/','login']">
        Login
        <ion-icon slot="end" name="person"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/','register']">
        Register
        <ion-icon slot="end" name="person"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>







</ion-content>