<ion-header [translucent]="true">
  <ion-toolbar  color="primary"> 
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Logout </ion-title>
    </ion-toolbar>
  </ion-header>


  <!--The main home content will be a welcome message with a call to action button -->
  <ion-content>
    <ion-card>
      <ion-card-header class=".ion-text-center">
        <ion-card-title style="text-align:center" >Welcome To Snap Note</ion-card-title>
      </ion-card-header>
    
      
      <ion-card-content style="text-align:center">
        <img src="./assets/logo.png">
        Snap note allows users to add modules , and add notes for each moddule , giving you access to your study information on the go ! <br>
      

       
        <ion-button [routerLink]="['/','modules']">
          Start Adding Notes
          <ion-icon slot="end" name="pencil"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-content>
  
